[defaults]
inventory = inventories/hosts.ini
host_key_checking = False
forks = 10
remote_user = root
interpreter_python = auto
private_key_file = /root/.ssh/ansible_id
roles_path = roles

[ssh_connection]
pipelining = True

